In [1]:
# import libraries
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

In [2]:
#load Data
df_golf = pd.read_csv("C:/Users/Admin/Downloads/golfdataset.csv")

In [3]:
df_golf

     Outlook  Temp Humidity  Windy PlayGolf
0      Rainy   Hot     High  False       No
1      Rainy   Hot     High   True       No
2   Overcast   Hot     High  False      Yes
3      Sunny  Mild     High  False      Yes
4      Sunny  Cool   Normal  False      Yes
5      Sunny  Cool   Normal   True       No
6   Overcast  Cool   Normal   True      Yes
7      Rainy  Mild     High  False       No
8      Rainy  Cool   Normal  False      Yes
9      Sunny  Mild   Normal  False      Yes
10     Rainy  Mild   Normal   True      Yes
11  Overcast  Mild     High   True      Yes
12  Overcast   Hot   Normal  False      Yes
13     Sunny  Mild     High   True       No

In [6]:
 #encode data : string to numeric
from sklearn import preprocessing 
le = preprocessing.LabelEncoder()
df_golf["Outlook"] = le.fit_transform(df_golf.Outlook.values)
df_golf["Temp"] = le.fit_transform(df_golf.Temp.values)
df_golf["Humidity"] = le.fit_transform(df_golf.Humidity.values)
df_golf["Windy"] = le.fit_transform(df_golf.Windy.values)
df_golf["PlayGolf"] = le.fit_transform(df_golf.PlayGolf.values)
df_golf

    Outlook  Temp  Humidity  Windy  PlayGolf
0         1     1         0      0         0
1         1     1         0      1         0
2         0     1         0      0         1
3         2     2         0      0         1
4         2     0         1      0         1
5         2     0         1      1         0
6         0     0         1      1         1
7         1     2         0      0         0
8         1     0         1      0         1
9         2     2         1      0         1
10        1     2         1      1         1
11        0     2         0      1         1
12        0     1         1      0         1
13        2     2         0      1         0

In [28]:
# splitting data into train and test
labels = df_golf["PlayGolf"]
features = df_golf.drop('PlayGolf', axis = 1)

X_train , X_test, y_train, y_test = train_test_split(features, labels, test_size=0.2,random_state=0)

In [29]:
features

    Outlook  Temp  Humidity  Windy
0         1     1         0      0
1         1     1         0      1
2         0     1         0      0
3         2     2         0      0
4         2     0         1      0
5         2     0         1      1
6         0     0         1      1
7         1     2         0      0
8         1     0         1      0
9         2     2         1      0
10        1     2         1      1
11        0     2         0      1
12        0     1         1      0
13        2     2         0      1

In [30]:
labels

0     0
1     0
2     1
3     1
4     1
5     0
6     1
7     0
8     1
9     1
10    1
11    1
12    1
13    0
Name: PlayGolf, dtype: int32

In [31]:
X_train

    Outlook  Temp  Humidity  Windy
11        0     2         0      1
2         0     1         0      0
13        2     2         0      1
9         2     2         1      0
1         1     1         0      1
7         1     2         0      0
10        1     2         1      1
3         2     2         0      0
0         1     1         0      0
5         2     0         1      1
12        0     1         1      0

In [32]:
y_train

11    1
2     1
13    0
9     1
1     0
7     0
10    1
3     1
0     0
5     0
12    1
Name: PlayGolf, dtype: int32

In [33]:
# training predictions on the the testing set
gnb = GaussianNB()
gnb.fit(X_train, y_train)

GaussianNB()

In [37]:
y_test

8    1
6    1
4    1
Name: PlayGolf, dtype: int32

In [34]:
#making predictions on the testing set
y_pred = gnb.predict(X_test)

In [35]:
y_pred

array([0, 0, 0])

In [36]:
#comparing the actual response (y_test) with predicted response
from sklearn import metrics 
print("Gaussian Naive Bayes Model accuracy (in%) :)" , metrics.accuracy_score(y_test,y_pred)*100)

Gaussian Naive Bayes Model accuracy (in%) :) 0.0