In [3]:
import numpy as np
import pandas as pd

In [5]:
police_data =pd.read_csv(r'C:\Users\Admin\Downloads\police.csv')
police_data

,state,stop_date,stop_time,county_name,driver_gender,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,district
0,RI,2005-01-04,12:55,NaN,M,White,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False,Zone X4
1,RI,2005-01-23,23:15,NaN,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone K3
2,RI,2005-02-17,04:15,NaN,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone X4
3,RI,2005-02-20,17:15,NaN,M,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False,Zone X1
4,RI,2005-02-24,01:20,NaN,F,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone X3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91736,RI,2015-12-31,21:21,NaN,F,Black,Other Traffic Violation,Moving violation,False,NaN,Citation,False,0-15 Min,False,Zone K2
91737,RI,2015-12-31,21:59,NaN,F,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone K3
91738,RI,2015-12-31,22:04,NaN,M,White,Other Traffic Violation,Moving violation,False,NaN,Citation,False,0-15 Min,False,Zone X3
91739,RI,2015-12-31,22:09,NaN,F,Hispanic,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False,Zone K3
91740,RI,2015-12-31,22:47,NaN,M,White,Registration Violation,Registration/plates,False,NaN,Citation,False,0-15 Min,False,Zone X4

In [6]:
Speeding = police_data[police_data.violation =='Speeding'] # Total violation during according to Speeding
Speeding.head(60)

,state,stop_date,stop_time,county_name,driver_gender,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,district
1,RI,2005-01-23,23:15,NaN,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone K3
2,RI,2005-02-17,04:15,NaN,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone X4
4,RI,2005-02-24,01:20,NaN,F,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone X3
5,RI,2005-03-14,10:00,NaN,F,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone K3
6,RI,2005-03-29,21:55,NaN,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone K3
7,RI,2005-04-04,21:25,NaN,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone K1
8,RI,2005-07-14,11:20,NaN,F,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone X4
9,RI,2005-07-14,19:55,NaN,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone X4
10,RI,2005-07-18,19:10,NaN,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone K3
11,RI,2005-07-18,19:30,NaN,F,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone K3
12,RI,2005-07-19,00:30,NaN,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone K3
13,RI,2005-07-24,20:10,NaN,F,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone K3
14,RI,2005-08-18,10:57,NaN,F,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone K3
17,RI,2005-09-11,11:45,NaN,F,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone X3
18,RI,2005-09-20,22:25,NaN,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone X4
20,RI,2005-09-29,22:45,NaN,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone K3
21,RI,2005-09-30,09:50,NaN,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone K2
22,RI,2005-09-30,14:00,NaN,M,Asian,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone K2
23,RI,2005-09-30,18:00,NaN,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone X4
24,RI,2005-10-01,00:20,NaN,F,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone K3
25,RI,2005-10-01,01:05,NaN,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone X4
26,RI,2005-10-01,06:15,NaN,M,Black,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone K3
27,RI,2005-10-01,08:30,NaN,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone K1
28,RI,2005-10-01,08:49,NaN,M,Black,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone K3
31,RI,2005-10-01,15:20,NaN,F,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False,Zone K3
32,RI,2005-10-01,15:20,NaN,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone X3
35,RI,2005-10-01,16:05,NaN,F,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone X4
36,RI,2005-10-01,16:05,NaN,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone K1
37,RI,2005-10-01,16:40,NaN,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone X4
38,RI,2005-10-01,16:45,NaN,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone K1
39,RI,2005-10-01,19:15,NaN,F,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone K3
40,RI,2005-10-01,19:25,NaN,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone K1
41,RI,2005-10-01,19:30,NaN,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone K2
42,RI,2005-10-01,19:45,NaN,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone X4
43,RI,2005-10-01,19:55,NaN,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone K3
44,RI,2005-10-01,20:35,NaN,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone X4
45,RI,2005-10-01,21:45,NaN,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone K1
47,RI,2005-10-01,22:40,NaN,M,White,Speeding,Speeding,False,NaN,Citation,False,16-30 Min,False,Zone K2
48,RI,2005-10-01,22:40,NaN,M,White,Speeding,Speeding,False,NaN,Citation,False,16-30 Min,False,Zone K2
49,RI,2005-10-01,23:05,NaN,F,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone K3
50,RI,2005-10-01,23:10,NaN,F,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone X4
51,RI,2005-10-01,23:50,NaN,F,Black,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone K3
52,RI,2005-10-02,01:55,NaN,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone X3
53,RI,2005-10-02,02:10,NaN,F,White,Speeding,Speeding,False,NaN,Citation,False,16-30 Min,False,Zone K2
54,RI,2005-10-02,02:11,NaN,F,White,Speeding,Speeding,False,NaN,Citation,False,16-30 Min,False,Zone K2
55,RI,2005-10-02,03:00,NaN,M,White,Speeding,Speeding,False,NaN,Citation,False,16-30 Min,False,Zone X3
56,RI,2005-10-02,06:10,NaN,F,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone X4
57,RI,2005-10-02,06:25,NaN,F,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone X3
58,RI,2005-10-02,07:45,NaN,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone K3
59,RI,2005-10-02,07:50,NaN,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone X4
60,RI,2005-10-02,08:24,NaN,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone K3
61,RI,2005-10-02,09:30,NaN,M,White,Speeding,Speeding,True,Incident to Arrest,Arrest Driver,True,30+ Min,False,Zone K1
62,RI,2005-10-02,09:40,NaN,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone X3
63,RI,2005-10-02,09:45,NaN,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone K1
64,RI,2005-10-02,09:50,NaN,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone X3
65,RI,2005-10-02,10:27,NaN,M,White,Speeding,Speeding,False,NaN,Citation,False,16-30 Min,False,Zone X3
66,RI,2005-10-02,12:30,NaN,F,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone X3
67,RI,2005-10-02,12:55,NaN,M,Black,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone K2
68,RI,2005-10-02,14:50,NaN,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone K2
69,RI,2005-10-02,15:00,NaN,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone K2

##  a. what percentage of female had a violation of speeding?

In [7]:
Total_Speeding = Speeding.driver_gender.value_counts(normalize=True)*100
Total_Speeding.loc['F']

32.311091836523964

##  b. How many of the arrested drivers were male and what was their race?

In [8]:

male = police_data[['driver_gender','is_arrested','driver_race']]
male_only = male[(male['driver_gender']=='M')]
male_only[(male_only['is_arrested']== True)]

      driver_gender is_arrested driver_race
3                 M        True       White
16                M        True       White
61                M        True       White
71                M        True       White
82                M        True       White
...             ...         ...         ...
91417             M        True    Hispanic
91453             M        True    Hispanic
91510             M        True       Black
91527             M        True       White
91574             M        True       White

[2409 rows x 3 columns]

##  In different tables, show the various stop outcomes and their respective violations

In [9]:
violation_stop = police_data[['violation','stop_outcome']]
violation_stop

                 violation   stop_outcome
0                Equipment       Citation
1                 Speeding       Citation
2                 Speeding       Citation
3                    Other  Arrest Driver
4                 Speeding       Citation
...                    ...            ...
91736     Moving violation       Citation
91737             Speeding       Citation
91738     Moving violation       Citation
91739            Equipment        Warning
91740  Registration/plates       Citation

[91741 rows x 2 columns]

##  d.i. What percentage of drivers who were stopped were black, how many were drug related, did it lead to an arrest? If it led to an arrest, how many?

In [10]:
group_a = police_data[['driver_race','is_arrested','drugs_related_stop']]
group_b =group_a[(group_a['driver_race']=='Black') & (group_a['is_arrested']==True) & (group_a['drugs_related_stop']==True)]
group_b.describe()

       driver_race is_arrested drugs_related_stop
count           63          63                 63
unique           1           1                  1
top          Black        True               True
freq            63          63                 63

## d ii. What percentage of drivers who were stopped were white, how many were drug related, did it lead to an arrest? If it led to an arrest, how many?

In [11]:
group_c =group_a[(group_a['driver_race']=='White') & (group_a['is_arrested']==True) & (group_a['drugs_related_stop']==True)]
group_c.value_counts(normalize=True)*100

driver_race  is_arrested  drugs_related_stop
White        True         True                  100.0
dtype: float64

## 2.From the instagram_global_top_1000 dataset, answer the following questions

In [4]:
instagram = pd.read_csv(r'C:\Users\Admin\Downloads\instagram_global_top_1000.csv')
instagram.head()

,Country,Rank,Account,Title,Link,Category,Followers,Audience Country,Authentic engagement,Engagement avg,Scraped
0,All,1,cristiano,Cristiano Ronaldo,https://www.instagram.com/cristiano/,Sports with a ball,400100000.0,India,7800000.0,9500000.0,2022-02-07 16:50:24.798803
1,All,2,kyliejenner,Kylie 🤍,https://www.instagram.com/kyliejenner/,Fashion|Modeling|Beauty,308800000.0,United States,6200000.0,10100000.0,2022-02-07 16:50:24.798803
2,All,3,leomessi,Leo Messi,https://www.instagram.com/leomessi/,Sports with a ball|Family,306300000.0,Argentina,4800000.0,6500000.0,2022-02-07 16:50:24.798803
3,All,4,kendalljenner,Kendall,https://www.instagram.com/kendalljenner/,Modeling|Fashion,217800000.0,United States,3400000.0,5400000.0,2022-02-07 16:50:24.798803
4,All,5,selenagomez,Selena Gomez,https://www.instagram.com/selenagomez/,Music|Lifestyle,295800000.0,United States,2700000.0,3600000.0,2022-02-07 16:50:24.798803

## a. How many influencers in the top 20 are into sports?

In [13]:
sport = instagram[instagram.Category == 'Sports with a ball']
sport.head(20)

,Country,Rank,Account,Title,Link,Category,Followers,Audience Country,Authentic engagement,Engagement avg,Scraped
0,All,1,cristiano,Cristiano Ronaldo,https://www.instagram.com/cristiano/,Sports with a ball,400100000.0,India,7800000.0,9500000.0,2022-02-07 16:50:24.798803
10,All,11,neymarjr,NJ 🇧🇷,https://www.instagram.com/neymarjr/,Sports with a ball,169800000.0,Brazil,2800000.0,4000000.0,2022-02-07 16:50:24.798803
14,All,15,virat.kohli,Virat Kohli,https://www.instagram.com/virat.kohli/,Sports with a ball,182600000.0,India,2100000.0,2400000.0,2022-02-07 16:50:24.798803
38,All,39,kingjames,👑,https://www.instagram.com/kingjames/,Sports with a ball,111400000.0,United States,884300.0,1500000.0,2022-02-07 16:50:24.798803
40,All,41,k.mbappe,Kylian Mbappé,https://www.instagram.com/k.mbappe/,Sports with a ball,65800000.0,France,1700000.0,2400000.0,2022-02-07 16:50:24.798803
53,All,54,fcbarcelona,FC Barcelona,https://www.instagram.com/fcbarcelona/,Sports with a ball,105100000.0,Indonesia,621000.0,950400.0,2022-02-07 16:50:24.798803
60,All,61,mosalah,Mohamed Salah,https://www.instagram.com/mosalah/,Sports with a ball,47900000.0,Egypt,1100000.0,1600000.0,2022-02-07 16:50:24.798803
79,All,80,paulpogba,Paul Labile Pogba,https://www.instagram.com/paulpogba/,Sports with a ball,51500000.0,Brazil,623400.0,1100000.0,2022-02-07 16:50:24.798803
83,All,84,realmadrid,Real Madrid C.F.,https://www.instagram.com/realmadrid/,Sports with a ball,109800000.0,Spain,364000.0,505000.0,2022-02-07 16:50:24.798803
101,All,102,paulodybala,Paulo Dybala,https://www.instagram.com/paulodybala/,Sports with a ball,45500000.0,Argentina,640200.0,1000000.0,2022-02-07 16:50:24.798803
107,All,108,iamzlatanibrahimovic,Zlatan Ibrahimović,https://www.instagram.com/iamzlatanibrahimovic/,Sports with a ball,52100000.0,Italy,525300.0,806100.0,2022-02-07 16:50:24.798803
108,All,109,karimbenzema,Karim Benzema,https://www.instagram.com/karimbenzema/,Sports with a ball,45200000.0,France,620700.0,895300.0,2022-02-07 16:50:24.798803
116,All,117,sergioramos,Sergio Ramos,https://www.instagram.com/sergioramos/,Sports with a ball,49400000.0,Spain,477400.0,731700.0,2022-02-07 16:50:24.798803
127,All,128,championsleague,UEFA Champions League,https://www.instagram.com/championsleague/,Sports with a ball,87900000.0,Brazil,277700.0,376000.0,2022-02-07 16:50:24.798803
132,All,133,hazardeden_10,Eden Hazard,https://www.instagram.com/hazardeden_10/,Sports with a ball,26900000.0,Spain,729500.0,1200000.0,2022-02-07 16:50:24.798803
137,All,138,kunaguero,Sergio Leonel Agüero,https://www.instagram.com/kunaguero/,Sports with a ball,21800000.0,Argentina,777700.0,1300000.0,2022-02-07 16:50:24.798803
144,All,145,jamesrodriguez10,James Rodríguez,https://www.instagram.com/jamesrodriguez10/,Sports with a ball,48600000.0,Colombia,388400.0,591100.0,2022-02-07 16:50:24.798803
145,All,146,433,433,https://www.instagram.com/433/,Sports with a ball,46800000.0,Spain,366400.0,609700.0,2022-02-07 16:50:24.798803
147,All,148,phil.coutinho,Philippe Coutinho,https://www.instagram.com/phil.coutinho/,Sports with a ball,24100000.0,Brazil,704100.0,1100000.0,2022-02-07 16:50:24.798803
161,All,162,marcelotwelve,Marcelo Vieira,https://www.instagram.com/marcelotwelve/,Sports with a ball,51900000.0,Spain,308000.0,463000.0,2022-02-07 16:50:24.798803

## How many musicians were in the top 100, which countries were their audience from and how many followers did they have?

In [14]:
music = instagram[instagram.Category =='Music']
music.query( 'Rank< 100')

,Country,Rank,Account,Title,Link,Category,Followers,Audience Country,Authentic engagement,Engagement avg,Scraped
8,All,9,arianagrande,Ariana Grande,https://www.instagram.com/arianagrande/,Music,294100000.0,United States,1700000.0,2400000.0,2022-02-07 16:50:24.798803
9,All,10,billieeilish,BILLIE EILISH,https://www.instagram.com/billieeilish/,Music,100000000.0,United States,5300000.0,7000000.0,2022-02-07 16:50:24.798803
11,All,12,lalalalisa_m,LISA,https://www.instagram.com/lalalalisa_m/,Music,73100000.0,Indonesia,7500000.0,8600000.0,2022-02-07 16:50:24.798803
12,All,13,jennierubyjane,J,https://www.instagram.com/jennierubyjane/,Music,62300000.0,Indonesia,6400000.0,7600000.0,2022-02-07 16:50:24.798803
19,All,20,justinbieber,Justin Bieber,https://www.instagram.com/justinbieber/,Music,219800000.0,India,1200000.0,1800000.0,2022-02-07 16:50:24.798803
21,All,22,roses_are_rosie,ROSÉ,https://www.instagram.com/roses_are_rosie/,Music,55100000.0,Indonesia,5500000.0,6400000.0,2022-02-07 16:50:24.798803
23,All,24,nickiminaj,Barbie,https://www.instagram.com/nickiminaj/,Music,174000000.0,United States,1200000.0,1900000.0,2022-02-07 16:50:24.798803
29,All,30,zayn,Zayn Malik,https://www.instagram.com/zayn/,Music,44500000.0,India,3800000.0,6000000.0,2022-02-07 16:50:24.798803
30,All,31,champagnepapi,champagnepapi,https://www.instagram.com/champagnepapi/,Music,102600000.0,United States,1500000.0,2500000.0,2022-02-07 16:50:24.798803
34,All,35,badbunnypr,NaN,https://www.instagram.com/badbunnypr/,Music,37800000.0,United States,4100000.0,6500000.0,2022-02-07 16:50:24.798803
36,All,37,adele,Adele,https://www.instagram.com/adele/,Music,49100000.0,United States,2800000.0,3900000.0,2022-02-07 16:50:24.798803
41,All,42,karolg,KAROL G,https://www.instagram.com/karolg/,Music,47300000.0,Mexico,2600000.0,3200000.0,2022-02-07 16:50:24.798803
46,All,47,dualipa,DUA LIPA,https://www.instagram.com/dualipa/,Music,78700000.0,Mexico,1200000.0,1400000.0,2022-02-07 16:50:24.798803
49,All,50,mileycyrus,Miley Cyrus,https://www.instagram.com/mileycyrus/,Music,160200000.0,United States,501600.0,667900.0,2022-02-07 16:50:24.798803
55,All,56,shawnmendes,Shawn Mendes,https://www.instagram.com/shawnmendes/,Music,66500000.0,Brazil,923900.0,1400000.0,2022-02-07 16:50:24.798803
62,All,63,lelepons,Lele Pons,https://www.instagram.com/lelepons/,Music,47300000.0,Mexico,1000000.0,1600000.0,2022-02-07 16:50:24.798803
67,All,68,ddlovato,Demi Lovato,https://www.instagram.com/ddlovato/,Music,125800000.0,United States,439400.0,564800.0,2022-02-07 16:50:24.798803
68,All,69,blackpinkofficial,BLΛƆKPIИK,https://www.instagram.com/blackpinkofficial/,Music,45200000.0,Indonesia,1200000.0,1500000.0,2022-02-07 16:50:24.798803
75,All,76,real__pcy,EXO_CY,https://www.instagram.com/real__pcy/,Music,23600000.0,Indonesia,2200000.0,2700000.0,2022-02-07 16:50:24.798803
76,All,77,katyperry,KATY PERRY,https://www.instagram.com/katyperry/,Music,151900000.0,Brazil,319500.0,408100.0,2022-02-07 16:50:24.798803
78,All,79,camila_cabello,camila,https://www.instagram.com/camila_cabello/,Music,60000000.0,Brazil,747600.0,1000000.0,2022-02-07 16:50:24.798803
81,All,82,dojacat,Doja Cat,https://www.instagram.com/dojacat/,Music,19700000.0,United States,2100000.0,2900000.0,2022-02-07 16:50:24.798803
88,All,89,oohsehun,SEHUN,https://www.instagram.com/oohsehun/,Music,22800000.0,Indonesia,1900000.0,2400000.0,2022-02-07 16:50:24.798803
89,All,90,niallhoran,Niall Horan,https://www.instagram.com/niallhoran/,Music,29200000.0,United States,1300000.0,1800000.0,2022-02-07 16:50:24.798803

## c. Find out how many influencers had Indian audiences, their profession, their number of followers and their average engagement.

In [24]:
all_influencer = instagram[['Title','Audience Country','Category','Followers','Engagement avg']]
indian_audiences =all_influencer[(all_influencer['Audience Country'] == 'India')]
indian_audiences

,Title,Audience Country,Category,Followers,Engagement avg
0,Cristiano Ronaldo,India,Sports with a ball,400100000.0,9500000.0
14,Virat Kohli,India,Sports with a ball,182600000.0,2400000.0
19,Justin Bieber,India,Music,219800000.0,1800000.0
27,therock,India,Cinema|Actors/actresses|Fitness|Gym,295800000.0,994800.0
28,Instagram,India,Photography,469600000.0,608100.0
...,...,...,...,...,...
949,Divyanka Tripathi Dahiya,India,Shows|Cinema|Actors/actresses,18500000.0,138400.0
973,Ravindrasinh jadeja,India,Lifestyle|Sports with a ball,4200000.0,596800.0
986,Rishabh Pant,India,Sports with a ball,5700000.0,433800.0
997,India’s Youth & Fitness IC⭕️N®,India,Fitness|Gym,10100000.0,239800.0
998,Shakti Mohan,India,Art|Artists|Cinema|Actors/actresses,13700000.0,175500.0

In [23]:
indian_audiences.Title.count()

142

## d. What percentage of influencers with average engagement less than 1.5 million were into Beauty and Lifestyle?

In [15]:
avg_beuaty =instagram[(instagram["Engagement avg"] < 1500000.0) & (instagram["Category"] == "Beauty|Lifestyle")] 
avg_beuaty

,Country,Rank,Account,Title,Link,Category,Followers,Audience Country,Authentic engagement,Engagement avg,Scraped
344,All,345,avani,avani,https://www.instagram.com/avani/,Beauty|Lifestyle,18600000.0,United States,396600.0,533300.0,2022-02-07 16:50:24.798803
814,All,815,vivi,Vivi Wanderley,https://www.instagram.com/vivi/,Beauty|Lifestyle,12700000.0,Brazil,147300.0,242000.0,2022-02-07 16:50:24.798803

## e. What percentage of the influencers were into Sports with a ball, find out the difference between their average engagements and authentic engagements?

In [18]:
sport_1 =instagram[instagram.Category == 'Sports with a ball']
sport_1

,Country,Rank,Account,Title,Link,Category,Followers,Audience Country,Authentic engagement,Engagement avg,Scraped
0,All,1,cristiano,Cristiano Ronaldo,https://www.instagram.com/cristiano/,Sports with a ball,400100000.0,India,7800000.0,9500000.0,2022-02-07 16:50:24.798803
10,All,11,neymarjr,NJ 🇧🇷,https://www.instagram.com/neymarjr/,Sports with a ball,169800000.0,Brazil,2800000.0,4000000.0,2022-02-07 16:50:24.798803
14,All,15,virat.kohli,Virat Kohli,https://www.instagram.com/virat.kohli/,Sports with a ball,182600000.0,India,2100000.0,2400000.0,2022-02-07 16:50:24.798803
38,All,39,kingjames,👑,https://www.instagram.com/kingjames/,Sports with a ball,111400000.0,United States,884300.0,1500000.0,2022-02-07 16:50:24.798803
40,All,41,k.mbappe,Kylian Mbappé,https://www.instagram.com/k.mbappe/,Sports with a ball,65800000.0,France,1700000.0,2400000.0,2022-02-07 16:50:24.798803
...,...,...,...,...,...,...,...,...,...,...,...
969,All,970,jordialbaoficial,Jordi Alba,https://www.instagram.com/jordialbaoficial/,Sports with a ball,13900000.0,Spain,124900.0,180500.0,2022-02-07 16:50:24.798803
972,All,973,davidluiz23,David Luiz,https://www.instagram.com/davidluiz23/,Sports with a ball,21000000.0,Brazil,53800.0,118900.0,2022-02-07 16:50:24.798803
983,All,984,casemiro,Casemiro,https://www.instagram.com/casemiro/,Sports with a ball,13600000.0,Spain,120400.0,180700.0,2022-02-07 16:50:24.798803
986,All,987,rishabpant,Rishabh Pant,https://www.instagram.com/rishabpant/,Sports with a ball,5700000.0,India,365300.0,433800.0,2022-02-07 16:50:24.798803
996,All,997,manuelneuer,Manuel Neuer,https://www.instagram.com/manuelneuer/,Sports with a ball,11500000.0,Germany,146500.0,210200.0,2022-02-07 16:50:24.798803

In [19]:
sport_2 =sport_1[['Engagement avg','Authentic engagement']].sum()
differ = sport_2.iloc[0] -sport_2.iloc[1]
differ

20070100.0